html,
body {
  color: #083D77;
  background-color: #ffe89b;
}

i {
  font-size: 96px;
  float: right;
}

.logo-name {
  font-size: 72px;
  font-weight: 600;
  span.red {
    color: red;
  }
  span.yellow {
    color: #ff8000;
  }
  span.green {
    color: green;
  }
}

input {
  margin: 40px 25px;
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #F95738;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #F95738 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #F95738 4%);
  background-position: -200px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #F95738;
}

input:focus,
input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder,
input:valid::-webkit-input-placeholder {
  color: #F95738;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}