<div class="container home-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="lead text-center logo-name">Weather<span class="red">A</span><span class="yellow">P</span><span class="green">P</span></h1>
      <form ng-submit="reloadWeather()">
        <input type="text" placeholder="type the name of the city, which weather you want to know" ng-model="cityName">
      </form>
      <weather ng-if="weather.main"></weather>
    </div>
  </div>
</div>