<div class="container seed-help">
  <div class="jumbotron">
    <h1>Help Page</h1>
    <p>Padding of this box was changed by bootstrap styles override in <span class="text-success">vendor.scss</span></p>
  </div>
  <h4>Checkout basic instructions on <a href="https://github.com/SidKH/angular-starter-kit" target="_blank">GitHub</a></h4>
</div>