<div class="col-md-12 weather-widget">
  <div ng-if="notFound">
    <p class="lead text-center not-found-text">Not found :(</p>
  </div>
  <div ng-if="!notFound">
    <div class="col-md-6">
      <h1>{{weather.name}}</h1>
      <p class="lead">Today {{weather.description}}</p>
    </div>
    <div class="col-md-6">
      <i ng-class="icon"></i>
    </div>
    <div class="col-md-12 temperature-block">
      <p class="lead temperature text-center">{{weather.temperature}} C&#176</p>
    </div>
  </div>
</div>