.navbar {
  background-color: #EE964B;
  outline: 0;
  border: none;
}

.navbar-default .navbar-brand{
  color: inherit;
  font-weight: 700;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #F95738;
  color: #EFECCA;
}

.navbar-default .navbar-nav > li > a {
  color: #EFECCA;
}